.name {
  font-size: 30px;
}

body {
  background-color: #BAE1E6;
  padding-left: 5%;
  padding-right: 5%;
}


h1 {
  font-family: monospace;
  font-size: 50px;
}

.Bold {
  font-weight: bold;
}

.Ital {
  font-style: italic;
}

.Link {
  font-size: 40px;
  font-family: monospace;
  color: white;
}
.Heading {
  font-size: 18px;
  font-weight: bold;
}

.Content {
  font-size: 15px;
}
.Nonbullet {
  font-size: 15px;
}
.Nonbullet li {
  list-style-type: none;
}

.Bulletted {
  font-size: 15px;
}
.Bulletted li {
  list-style-type: circle;
}

.Bio {
  background-color: #7BABB0;
  font-family: monospace;
  font-size: 20px;
  color: white;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  padding-top: 2%;
}
